.w-40{
  width: 40%;
}
.w-60{
  width: 60%;
}
.fs-14{
  font-size: 14px;
}

.fs-12{
  font-size: 12px;
}

.ml-5px{
  margin-left: 5px;
}


.bg-white{
  background: white
}
.underline{
  text-decoration: underline;
}